img{
    height: 220px;
    width: 350px;
    display: inline-block;
    }
    
    .post{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 36px;
        height: 340px;
        width: 350px;
        background-color: #0E0C0C ;
        margin-top: 200px;
        background-color: red;

    }
    
    .contentText{
        width: 251px;
        height: 180px;
        align-items: center;
        display: flex;
        flex-direction: column;
   
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        text-align: center;
        font-size: 20px;
        color: white;
        background-color: blueviolet;
    }

    .titulo{
        padding: 12px 0;
    }

    .year{
        padding-bottom: 12px;
    }